<section class="content-header">
  <div class="row col-12">
    <div>
      <span style="font-size: 20px;">BMIDE</span>
    </div>
    <div style="width: 150px; margin-left: 10px;">
      <input class="form-control" type="text" [(ngModel)]="searchData.objectType" placeholder="Object Type" (keyup)="triggerEnter($event)">
    </div>
    <div style="width: 150px; margin-left: 5px;">
      <input class="form-control" type="text" [(ngModel)]="searchData.name" placeholder="Name" (keyup)="triggerChangeText($event)">
    </div>
    <div style="width: 150px; margin-left: 5px;">
      <ngx-select [items]="dataForm.clientTypeList" [(ngModel)]="searchData.clientType" placeholder="Client Type" (selectionChanges)="onChangeClientType($event)"></ngx-select>
    </div>
    <button class="btn btn-primary btn-sm" (click)="loadData()" style="margin-left: 5px;"><i class="fa fa-search"></i></button>
  </div>
</section>
<section class="content" style="margin-top: -5px;">
  <div class="row">
    <div class="col-12">
<!----------------------------------------------------------------------------------------------------->
      <div class="row">
        <div class="col-md-12">
          <div class="">
            <ngx-datatable class="material fullscreen custom" 
              [externalSorting]="true" 
              [columnMode]="'force'"
              [footerHeight]="25"
              [rowHeight]="'auto'" 
              [rows]="dataList" 
              [externalPaging]="false" 
              [scrollbarH]="true" 
              [scrollbarV]="true" 
              [virtualization]="false" 
              [style.height.px]="innerHeight"
              [loadingIndicator]="loadingIndicator">
              <ngx-datatable-column [canAutoResize]="false" [width]="30" name="No." prop="rowIndex" cellClass="text-center" [sortable]="false"></ngx-datatable-column>
              <ngx-datatable-column [width]="100" name="Real Value" prop="realValue" cellClass="text-left">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a href='javascript:void(0)' 
                    (click)="onCopyClipboard(row['realValue'])">
                    {{row['realValue']}}
                  </a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="100" name="Display Value" prop="displayValue" cellClass="text-left">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a href='javascript:void(0)' 
                    (click)="onCopyClipboard(row['displayValue'])">
                    {{row['displayValue']}}
                  </a>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [canAutoResize]="false" [width]="80" name="Field Type" prop="fieldType" cellClass="text-center"></ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="130" name="Server Type" prop="serverType" cellClass="text-center"></ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="130" name="Server Property Type" prop="serverPropertyType" cellClass="text-center"></ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="130" name="Client Type" prop="clientType" cellClass="text-center"></ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="120" name="Compound Type" prop="compoundType" cellClass="text-center"></ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="90" name="Is Array" prop="isArray" cellClass="text-center">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div *ngIf="row['isArray']">
                    <span class="badge badge-lg badge-dot badge-success"></span>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="90" name="Is Displayable" prop="isDisplayable" cellClass="text-center">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div *ngIf="row['isDisplayable']">
                    <span class="badge badge-lg badge-dot badge-success"></span>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="90" name="Is Enabled" prop="isEnabled" cellClass="text-center">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div *ngIf="row['isEnabled']">
                    <span class="badge badge-lg badge-dot badge-success"></span>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="90" name="Is Modifiable" prop="isModifiable" cellClass="text-center">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div *ngIf="row['isModifiable']">
                    <span class="badge badge-lg badge-dot badge-success"></span>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="160" name="LOV" prop="lov" cellClass="text-left">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a href='javascript:void(0)' 
                    (click)="openPopupLOVDetail(lovTemplate, row['realValue'])">
                    {{row['lov']}}
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
      <ng-template #lovTemplate>
        <app-lov-detail [bsModalRef]="bsModalRefLOV" [objectName]="searchData.objectType" [propertyName]="propertyName"></app-lov-detail>
      </ng-template>
<!----------------------------------------------------------------------------------------------------->
    </div>
  </div>
</section>