<section class="content-header">
  <div class="row col-12">
    <div>
      <span style="font-size: 20px;">Email Sender</span>
    </div>
    <div style="width: 150px; margin-left: 10px;">
      <ngx-select [items]="dataForm.statusList" [(ngModel)]="searchData.Status" placeholder="Status" (selectionChanges)="onChangeStatus($event)"></ngx-select>
    </div>
    <div style="width: 220px; margin-left: 5px;">
      <input class="form-control" type="text" [(ngModel)]="searchData.EmailTo" placeholder="Email To" (keyup)="triggerEnter($event)">
    </div>
    <div style="width: 220px; margin-left: 5px;">
      <input class="form-control" type="text" [(ngModel)]="searchData.Subject" placeholder="Subject" (keyup)="triggerEnter($event)">
    </div>
    <div style="width: 130px; margin-left: 5px;">
      <input type="text" class="form-control" bsDatepicker placeholder="Create From Date" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [(ngModel)]="searchData.createFromDate">
    </div>
    <div style="width: 130px; margin-left: 5px;">
      <input type="text" class="form-control" bsDatepicker placeholder="Create To Date" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [(ngModel)]="searchData.createToDate">
    </div>
    <div style="width: 130px; margin-left: 5px;">
      <input type="text" class="form-control" bsDatepicker placeholder="Update From Date" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [(ngModel)]="searchData.updateFromDate">
    </div>
    <div style="width: 130px; margin-left: 5px;">
      <input type="text" class="form-control" bsDatepicker placeholder="Update To Date" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [(ngModel)]="searchData.updateToDate">
    </div>
    <button class="btn btn-primary btn-sm" (click)="loadData()" style="margin-left: 5px;"><i class="fa fa-search"></i></button>
  </div>
</section>
<section class="content" style="margin-top: -5px;">
  <div class="row">
    <div class="col-12">
<!----------------------------------------------------------------------------------------------------->
      <div class="row">
        <div class="col-9">
          <div class="col-12 row" style="vertical-align: middle;">
            <div style="margin-right: 5px; margin-top: 8px;"><span >Show</span></div>
            <select (change)="onChangeRowPerPage($event)" style="width: 100px;" [(ngModel)]="searchData.ItemsPerPage">
              <option *ngFor="let i of rowPerPage" value="{{i}}">{{i}}</option>
            </select>
            <div style="margin-left: 5px; margin-top: 8px;"><span >entries/page</span></div>
          </div>
        </div>
        <div class="col-3">
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="">
            <ngx-datatable class="material fullscreen custom" 
              [externalSorting]="true" 
              (sort)="onSort($event)"
              [columnMode]="'force'"
              [footerHeight]="25"
              [rowHeight]="'auto'" 
              [rows]="pagingModel.dataList" 
              [count]="pagingModel.totalItems" 
              [offset]="pagingModel.currentPage-1"
              [limit]="pagingModel.itemsPerPage" 
              [externalPaging]="true" 
              (page)='setPage($event)' 
              [scrollbarH]="true" 
              [scrollbarV]="true" 
              [virtualization]="false" 
              [style.height.px]="innerHeight"
              [loadingIndicator]="loadingIndicator">
              <ngx-datatable-column [canAutoResize]="false" [width]="30" name="No." prop="rowIndex" cellClass="text-center" [sortable]="false"></ngx-datatable-column>
              <ngx-datatable-column [width]="100" name="Email To" prop="email_to" cellClass="text-left"></ngx-datatable-column>
              <ngx-datatable-column [width]="180" name="Subject" prop="subject" cellClass="text-left"></ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="70" name="Priority" prop="priority" cellClass="text-center"></ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="70" name="Status" prop="status" cellClass="text-center"></ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="130" name="Create Date" prop="created_on" cellClass="text-center">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value | date: 'dd/MM/yyyy h:mm a'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="130" name="Update Date" prop="updated_on" cellClass="text-center">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value | date: 'dd/MM/yyyy h:mm a'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="40" cellClass="text-center">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a href='javascript:void(0)' 
                    class='btn btn-outline btn-sm btn-primary btn-icon' 
                    title='Edit'
                    style='width:30px;' 
                    (click)="openPopupEdit(editTemplate, row['id'])">
                    <i class='fa fa-edit'></i>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
      <ng-template #editTemplate>
        <app-email-sender-edit [bsModalRef]="bsModalRefEdit" [id]="id" (acceptBtnModalClick)="onAcceptBtnModalClick($event)"></app-email-sender-edit>
      </ng-template>
<!----------------------------------------------------------------------------------------------------->
    </div>
  </div>
</section>